<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Girtthubb">
  
  <test name="Launch page" enabled = "true">
    <classes>
      <class name="Test_Case.Launch_page_test"/>
    </classes>
  </test> 
  
   <test name="Create Repository" enabled = "true">
    <classes>
      <class name="Test_Case.Create_repository_test"/>
    </classes>
  </test> 
  
  
</suite> 
